<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>签到</title>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>
<h1>该网站用于签到</h1>
<button id="SendEmail">开始发送</button>
<button id="checkin_self">自身签到</button>
<script>
    let a = {data: 'hello', 'abc': 'bca'}
    $('#SendEmail').click(function() {
        $.ajax({
            url: 'api/SendEmail',
            method: 'post',
            data: a,
            success: function(response) {
                console.log(response)
            }
        })
    })
    $('#checkin_self').click(function() {
        $.ajax({
            url: 'api/CheckInSelf',
            method: 'post',
            success: function(response) {
                console.log(response)
            }
        });
    });
</script>
</body>
</html>